{% load static %}
<style>
    li {
        list-style-type: none;
    }
</style>
<nav class="navbar navbar-default navigation-clean ">
 

    <div class="dropdown-content" id="navbarSupportedContent" >
            <a class="navbar-brand" href="/">Neighbourhood</a>
        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results'%}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="blog">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-right nav navbar-nav" style="display:inline-block;">

            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'create-profile'%}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'update-profile' %}">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/accounts/login">Sign In</a>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>